h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  font-weight: 700;
  text-decoration: none;
}

.logo {
  font-size: 36px;
  width: 179px;
  height: 100px;
  background: #0F7BFF;
  border-radius: 0px 0px 21.5px 21.5px;
  justify-content: center;
  margin-left: 106px;
  margin-top: -20px;
}

header {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: top;
  width: 100%;  
  height: 720px;
}

.nav {
  margin-top: -80px;
}

a.nav-link {
  color: #929292;
}
a.nav-link:hover {
  color: #0f7bff;
  transition-duration: 0.5s;
}

.btnSign{
  background: #0063DD;
  border-radius: 25px;
  width: 165px;
  height: 45px;
  margin-left: 50px;
  margin-right: -80px;
  text-align: center;
}

.btnSign a{
  color: #fff;
}

.main {
  width: 520px;
  height: 239px;
  margin-left: 300px;
  margin-top: 78px;
  text-align: center;
}

.home-text h1 {
  font-size: 28px;
}

.home-text p {
  font-size: 14px;
}

.btnMain-active {
  font-size: 14px;
  width: 165px;
height: 45px;
background: #0F7BFF;
border-radius: 25px;
color: #fff;
margin-right: 15px;
padding-top: 8px;
}

.buttonsMain {
  width: 362px;
height: 50px;
margin: 0 auto;
display: flex;
}

.btnMain {
  padding-top: 8px;
  font-size: 14px;
  width: 165px;
  height: 45px;
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
}

.phone {
  margin-top: -70.5px;
  margin-left: 300px;
  width: 604px;
  height: 725px;
  z-index: 5;
}

.ellipse {
  z-index: 1; 
}

.arrow {
  z-index: 1;
}

.features {
  background: #F5FCFD;
  margin-top: -23px;
}

.itemFeat {
  padding-top: 40px;
  text-align: center;
  width: 342px;
  height: 290px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
  border-radius: 5px;
  margin-top: 120px;
}

.second {
  margin-top: 170px;
  margin-bottom: 150px;
}

.girl-img {
  margin-left: -80px;
  margin-top: -80px;
  margin-right: 100px;
}

.girl-text {
  margin-top: 120px;
}

.girl-text p{
  margin-top: 30px;
  margin-bottom: 35px;
}

.readMore {
  margin-right: 15px;
}

.guy-text {
  margin-top: 200px;
}

.guy-text p{
  margin-top: 30px;
  margin-bottom: 35px;
}

.guy-img {
  margin-left: 80px;
  margin-right: -100px;
}

.works {
  background: #F5FCFD;
  margin-top: -60px;
  padding-top: 10px;
}

.work-text {
  margin-top: 120px;
  text-align: center;
  width: 702px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}


.itemWork {
  text-align: center;
  width: 313px;
  height: 221px;
  font-size: 14px;
  z-index: 1;
}

.itemWork h2 {
 font-size: 18px;
}

.line {
  margin-left: 160px;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
}

.price {
  margin-top: 100px;
  margin-bottom: 130px;
}

.priceCard {
  text-align: center;
  width: 312px;
  height: 576px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
  border-radius: 5px;
  padding-top: 30px;
  margin-left: 30px;
}

.headPrice {
  color: #0F7BFF;
  margin-bottom: 25px;
}

.namePrice {
  margin-top: 20px;
  margin-bottom: 20px;
}

.headPrice span {
  font-size: 16px;
}

.priceCard p {
  margin-top: 25px;
  margin-bottom: 25px;
}


.plan {
  margin-top: 180px;
  width: 332px;
height: 256px;
}

.btnPrice-active {
  width: 165px;
  height: 45px;
  background: #0f7bff;
  padding-top: 8px;
  text-align: center;
  color: #fff;
  border-radius: 25px 0 0 25px;
}

.priceCard .btnMain-active, .btnMain {
  margin: 0 auto;
}

.btnPrice-active a {
  color: #fff;
}

.btnMain-active a {
  color: #fff;
}

.btnPrice {
  width: 165px;
  height: 45px;
  border: 3px solid #0f7bff;
  padding-top: 8px;
  text-align: center;
  border-radius:  0 25px 25px 0;
}

.slider {
  background: #F5FCFD;
}
.sliderAll {
  margin-top: 111px;
}

.slider-text{
  margin-bottom: 40px;
}

.sliderImg {
  width: 650px;
  height: 600px;
}
.swiper-slide {
  margin-right: 20px;
  padding-top: 40px;
  padding-left: 30px;
  width: 362px;
  height: 215px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  border-radius: 5px;
}

.name {
  margin-bottom: 15px;
  font-size: 16px;
}
.twit {
  margin-left: 150px;
}

.newsBlockAll img {
box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
border-radius: 5px;
}

.newsBlock {
  display: flex;
  margin-bottom: 25px;
  width: 540px;
  margin-left: 30px;
}

.news {
  padding-top: 130px;
}

.par {
  margin-left: 180px;
  width: 722px;
  margin-bottom: 40px;  
}
.newsText {
  text-align: center;
}

.arrowNews {
  margin-left: 15px;
}

.head {
  margin-bottom: 25px;
}

.mask {
  margin-bottom: 100px;
}

.blocktext {
  margin-left: 25px;
}
.newsBlock img {
  width: 166px;
height: 130px;
}

.newsBlock h3 {
  font-size: 18px;
}

.maskText {
  width: 550px;
  height: 252px;
}

.maskText p {
  font-size: 16px;
  margin-bottom: 25px;
}

.maskText h2 {
font-size: 24px;
color:#0063DD;
margin-top: 30px;
margin-bottom: 25px;
}

.free {
  background: #F5FCFD;
}

.textFree {
  margin: 0 auto;
  margin-top: 133px;
  margin-bottom: 113px;
  text-align: center;
}

.btnStart a{
color: #fff;
}

.btnStart {
  margin-top: auto;
  margin-bottom: auto;
  width: 264px;
  height: 45px;
  background: #0F7BFF;
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
}

.mail {
  background: #0F7BFF;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 90px;
}

.mailBlock {
  text-align: center;
margin-left: auto;
margin-right: auto;
}

.input {
  margin-top: 30px;
  margin-left: 300px;
}
.sub {
  padding-top: 8px;
  width: 165px;
  height: 45px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 0px 25px 25px 0px;
}

.inputMail {
  width: 405px;
height: 45px;
background: #0063DD;
border-radius: 25px 0 0 25px;
padding-left: 40px;
outline: none;
border: none;
}
::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  
}

.footer {
  background: #0063DD;
  color: #fff;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
}

.aliass a{
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

.scrollUp {
  margin-top: -20px;
}